*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

html{
    font-size: 100%;
}

img{
    width: 100%;
    height: 100%;
}

.everything{
    margin: 0px auto;
    text-align: center;
    width: 100%;
}

main{
    text-align: center;
    width: 100%;
}

a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
  color: cyan;
}

.nav{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5625rem;
    color: white;
}

.burger-toggle{
    cursor: pointer;
    margin: 0px;
    padding-right: 1em;
}

.burger-toggle span{
    display: inline-block;
    text-indent: -9999px;
}

.burger{
    display: none;
}

.main-menu, .sub-menu{
    list-style: none;
    background-color: #111;
}

.menu-item{
    padding: 1em;
}

.main-menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 0%;
    display: none;
    margin: 0px;
}

.burger:checked ~ .main-menu {
    display: block;
    height: auto;
}

.logo{
    margin: 0px;
    padding-left: 1em;
}

.world{
    font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .burger-toggle {
    display: none;
  }
  
  .sub-menu {
    display: none;
  }
  
  .main-menu {
    display: flex;
    justify-content: space-between;
    position: inherit;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
  }
  
  .menu-item {
    height: 50px;
    line-height: 50px;
    flex: 1;
    text-align: center;
    padding: 0 1em;
    position: relative;

  }
  
  .menu-item:hover .sub-menu {
    display: block;
    width: 200%;
    position: absolute;
    top: 50px;
    left: 0; 
  }
}


/*-----------------------------------------------------------------rows---------------------------------------------------------------------------------------*/

.row{
    width: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*----------------------------------------------------------------columns----------------------------------------------------------------------------------------*/

.col{
    border-color: black;
    border-width: 2px;
    width: 33.33%;
}

.pic{
    width: 25%;
}

.text{
    width: 50%;
    padding: 10px;
}

.textwide{
    width: 75%;
    padding: 10px;
}

/*-------------------------------------------content-----------------------------------------------*/

.title{
    font-size: 1.875rem;
    text-align: left;
    padding: 10px;
}

.description{
    font-size: 1rem;
    text-align: left;
}

.mainpics{
    background-color: black;
}

.mainpics img{
    width: 19.5%;
}

.content{
    width: 960px;
}

.divider{
    height: 25px;
    width: 960px;
    background-color: grey;
    text-align: left;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.divider p{
    padding: 0 5px;
}



.cinzel{
    font-family: 'Cinzel Decorative', cursive, sans-serif;
}

.vollkorn{
    font-family: 'Vollkorn', serif;
}

.center{
    text-align: center;
}

/*---------------------------------------Media Query-----------------------------*/

@media  (max-width: 959px){

    .content{
        width: 100%;
    }

    
}

@media  (max-width: 640px){

    .row{
        width: 100%;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*-------------------------------columns-----------------------------*/

    .col{
        width: 100%;
    }

    .pic{
        width: 100%;
    }

    .text{
        width: 100%;
        padding: 10px;
    }

    .textwide{
        width: 100%;
        padding: 10px;
    }

    .mainpics img{
        width: 19%;
    }
    
}
